/*****************/
/**** GENERAL ****/
/*****************/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

html{
	scroll-behavior: smooth;
}
html,body{
	margin: 0; 
	padding: 0;
	background: #fff; 
}

body{
	color: #000; 
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
	/*font-size: 20px;*/
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #000;
}

::selection {
  color: #FFFFFF;
  background: #000;
}

/****************/
/**** COLORS ****/
/****************/

/* BLACK #17191B 			*/
/* GREY #E6E9ED 
/* LIGHT GREY #E6E9ED		*/
/* WHITE #ffffff 			*/
/* BLUE #3CC5EF #51b1e7
/* HOVER HIGHLIGHT #F4F6F8	*/

/* Text-Grey-Dark #5B6169 	*/
/* Text-Grey-Light #B9C1CC 	*/


/********************/
/**** TYPOGRAPHY ****/
/********************/

/*h1{
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ffffff;
}*/

h2{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	color: #17191B;
	margin: 0;
	padding: 0;
}

/*h3{
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #17191B;
	margin: 0;
}*/

/*h4{
	line-height: 1.5;
	text-align: ;
	text-transform: uppercase;
}*/

p{
	line-height: 1.5;
	font-size: 18px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	width: 100%;
}

.label{
	color: #94A4AE;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	width: 28vw;
}

a{
	font-size: 18px;
	text-decoration: none;
	color: #000;
	opacity: 1;
	transition: all 0.7s;
}

a:hover{
	opacity: 0.5;
}


a.link{
	color: #7EC2D2;
}
/******************/
/**** ELEMENTS ****/
/******************/

.logo-big{
	position: absolute;
	width: 40vw;
	top: 40vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}
.logo{
}

.card{
	/*border: 1px solid red;*/
	margin-bottom: 32px;
}

/****************/
/**** LAYOUT ****/
/****************/

.wrapper{

}

.container{
	max-width: 600px;
	margin: 0 auto;
	/*padding: 0 20px;*/
	padding: 32px;
}

.content{


}

header{
	padding: 1vw 0;
	position: fixed;
	top:0;
	z-index: 1;
	width: 100%;
	display: block;
	/*height: 80px;*/
	background: rgba(255,255,255,0.9);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

section{
	margin: 30vw 0 0 0;
}

footer{
	/*padding: 1vw;*/
}

.kontakt p, .offnungszeiten p{
	margin: 6px 0;
}

.links{
	padding-top: 32px;
}

.impressium, .datenschutz, .back{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.datenschutz{
	margin-left: 40px;

}

footer a{
	/*padding: 0 20px;*/
}

/***************/
/**** LISTS ****/
/***************/

ul{
	/*list-style: none;*/
	/*margin: 0;
	padding: 0;
	clear: both;*/
}

li{
	/*margin: 0;
	padding: 0;*/
}



/****************/
/**** Button ****/
/****************/



/***********************************************************/
/**************** MEDIA QUERIES ****************************/
/***********************************************************/

@media (max-width: 320px) {

}

@media (min-width: 640px) {
	/****** !!!! ADJUST THIS !!!! *****/

	.wrapper{
		/*max-width: 1920px;
		border: 1px solid red;
		border-radius: 40px;
		background: white;
		margin: auto;
		height: 90vh;*/
	}
	/****** !!!!  !!!! *****/
	header{
		float: left;
		width: 60%;
		height: 100vh;
		display: flex;
  		justify-content: center;
  		align-items: center;
  		/*border: 1px solid red;*/
  		/*background: transparent;*/
	}

	.secondary header{
		height: 56px;
		width: 100%;
	}

	.logo{
		margin: 0 auto;
		max-width: 400px;
	}

	section{
		float: right;
		/*border: 1px solid green;*/
		width: 33.5%;
		height: 100vh;
		padding: 0 6% 0 0;
		margin: 0;
		display: flex;
  		justify-content: center;
  		align-items: center;
	}

	.secondary section{
		display: block;
		width: 100%;
		padding: 0;
		margin: 10vh auto;
	}

	.label{
		width: 10vw;
	}

	.links{
		padding-top: 0;
	}


}
